.btn--submit {
    box-shadow: rgb(198, 107, 47) 0px 4px;
    background: rgb(247, 134, 59);

    &:hover {
        color: rgb(255, 255, 255);
        top: 2px;
        box-shadow: rgb(198, 107, 47) 0px 2px;
        text-decoration: none;
    }

    &:disabled {
        cursor: not-allowed;
        color: rgb(255, 255, 255);
        background-color: rgb(173, 173, 173);
        top: 0px;
        box-shadow: rgb(133, 133, 133) 0px 4px;
    }

    &:active {
        color: rgb(255, 255, 255);
        top: 4px;
        box-shadow: rgb(198, 107, 47) 0px 2px inset;
    }
}

.btn--huge {
    font-size: 1.125em;
    padding: 1em 2.5em;
}

.btn {
    display: inline-block;
    vertical-align: middle;
    font-family: inherit;
    font-size: 100%;
    font-weight: bold;
    line-height: normal;
    cursor: pointer;
    background-color: rgb(33, 164, 216);
    position: relative;
    text-align: center;
    color: rgb(255, 255, 255);
    user-select: none;
    box-shadow: rgb(27, 135, 179) 0px 4px;
    white-space: nowrap;
    margin: 0px 0px 4px;
    border-radius: 12px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    padding: 0.8em 1.25em;

    &:hover {
        color: rgb(255, 255, 255);
        top: 2px;
        box-shadow: rgb(27, 135, 179) 0px 2px;
        text-decoration: none;
    }

    &:disabled {
        cursor: not-allowed;
        color: rgb(255, 255, 255);
        background-color: rgb(173, 173, 173);
        top: 0px;
        box-shadow: rgb(133, 133, 133) 0px 4px;
    }

    &:active {
        color: rgb(255, 255, 255);
        top: 4px;
        box-shadow: rgb(27, 135, 179) 0px 2px inset;
    }
}

.btn--submit.pressed {
    color: rgb(255, 255, 255);
    top: 14px;
    box-shadow: rgb(198, 107, 47) 0px 2px inset;
}

.btn.pressed {
    color: rgb(255, 255, 255);
    top: 14px;
    box-shadow: rgb(27, 135, 179) 0px 2px inset;
}

.btn--bet--success {
    background-color: rgb(56, 199, 144);
    border-color: rgb(28, 100, 72);;
    border-radius: 12px;
    border-style: solid;
    border-width: 1.6px 1.6px 8px;
    color: #fff;
    display: inline-block;
    font-size: 35px;
    font-weight: 700;
    line-height: 56px;
    margin: 8.75px 26.25px;
    padding: 35px 0px;
    text-align: center;
}